* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

.App {
  min-width: 1000px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.title {
  width: 80%;
  height: 10px;
  margin: 0;
  text-align: left;
  color: #ffffff;
 }

.App-header {
  background-color: #245863;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tabs {
  width: 80%;
  min-height: 80vh;
  background: #ffffff;
  margin: 3.5rem auto 1.5rem;
  padding: max(2rem, 20px) max(1rem, 20px);
  color: #245863;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
 }
/*  Tab controller */
ul.nav {
  width: 60%;
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  text-size-adjust: auto;
}
ul.nav li {
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  font-size: 12px;
}

/* tab item css */
ul.nav li:nth-child(1) {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.2rem;
}
ul.nav li:nth-child(2) li:nth-child(3) li:nth-child(4) li:nth-child(5) li:nth-child(6) {
  border-radius: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
ul.nav li:nth-child(7) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
}
ul.nav li:hover {
  background: rgba(1, 14, 12, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

/* Main content */
.outlet {
  height: 90%;
  width: 100%;
}

/* Welcome page */
.welcome {
  min-height: 60vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.image{
  opacity: 0.85;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  height: 110%;
  max-width: 80%;
  
}
div.center {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
}

.hi {
  font-size: min(1.2em, 36px);
  font-weight: bold;
}
.CS {
  font-size: min(0.8em, 24px);
}
.more {
  font-size: min(0.5em, 15px);
}

.about {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
.about:hover {
  background: rgba(50, 224, 196, 0.15);
}


.contact {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 5%;
  font-size: min(0.5em, 15px);
}
.clickable {
  text-decoration: underline;
  font-style: italic;
}

.contactImage {
  width: 15px;
  height: 15px;
  align-self: baseline;
}

.email {
  font-size: min(1em, 15px);
}

.emailImage {
  position: absolute; 
  right: 0; 
  bottom: 0;
  height: min(1em, 15px);
}